body {
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("image/lego-2539844_640.jpg");
    background-size: cover;
}

#navbar-title {
    text-decoration: none;
    padding: 10px 0;
    color: deeppink;
}
